@page
@model IndexModel
@{
    ViewData["Title"] = "Startsidan";
}

<div id="start">
    <h1 class="display-4">Välkommen!</h1>
    <p>Hejsan. Välkommen till moment 1.1 i kursen DT191G - Webbutveckling med .NET </p>
    <p>Navigera med hjälp av menyn till vänster</p>
</div>
